
/*--------------------------------------------------------------
# Login Page
--------------------------------------------------------------*/

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.login-logo {
  height: 120px; 
}

h5 {
  font-family: "Raleway-SemiBold";
  font-weight: 200;
}

p {
  font-family: "OpenSans-Regular";
  
}

label {
  font-family: "OpenSans-Regular";
}

input {
  font-family: "OpenSans-Light";
}

.btn-custom, .login-btn {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: bold;
}